/* #7D1935 Maroon 
   #4A96AD Blue
   #F5F3EE Wheet
   #FFFFFF White
*/

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #F5F3EE !important;
  color: #7D1935;
}

img { 
  width:320px; 
  height:300px;
}

.helpimage {
}

table, th, td {
  width:700px;
  padding: 5px;
  border: 1px solid lightgray;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: #F5F3EE;
}

.well {
  background-color: #4A96AD;
}

h2 {
  border-radius: 10px;
  text-align: right;
  padding-right: 100px;
  padding-top: 50px;
  height: 200px;
  color: #F5F3EE;
  background-image: url("https://kaggle2.blob.core.windows.net/datasets-images/478/974/557711140aeab7ca242d1e903c4e058e/dataset-cover.jpg");
}

.warning {
  color: red;
}
.prediction {
  margin: 30px;
  border-radius: 10px;
  border: 1px solid lightgray;
  line-height: 200px;
  height: 200px;
  text-align: center;  
  vertical-align: middle;
}

.poisonous {
  background-color: #F2D7D5;
}

.edible {
  background-color: #D4EFDF;
}